/* Aggiungi stile per il layout generale dell'app */
.App {
  text-align: center;
  padding: 20px;
}

.error {
  color: red;
  font-size: 1.2em;
}

/* Card per la ricerca */
.search-card {
  margin-top: 20px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.weather-card {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

/* Colore di default per la card */
.weather-card {
  background-color: #f0f0f0; 
  color: black;
}
body {
  background-image: url(./assets/277371_4098026302284_987714166_o.jpg);
  background-size: cover;
}